{% extends 'base.html.twig' %}

{% block title %}Mon Blog{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <p>Il y a {{ posts | length }} article(s) :</p>
    <p><a href="{{ path('app_post_create') }}">Nouevau</a></p>
    <ul>
        {% for post in posts %}
            <li><a>{{ post.createdAt | date('d/m/Y') }} - <a href="{{ 'app_post_show', {id: post.id}) }}"{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
